/* headings */
.heading {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	text-align: center;
	padding: 2%;
}

.heading h1{
	font-size: 120px;
	top: 200px;
}

.heading h3{
	font-size: 65px;
	top: 500px;
}

.hed-block{
	background-color: black;
	opacity: 75%;
	width: 100%;
	top: 300px;
	padding-right: 3%;
	padding-left: 3%;
	position: absolute;
}

.subhead-block{
	background-color: black;
	opacity: 75%;
	width: 100%;
}

/* other text */

.byline, .story, .caption {
	font-family: 'PT Sans', sans-serif;
}

.byline {
	color: white;
	text-align: center;
	padding: 3%;
	font-size: 50px;
	opacity: 100%;
}

.story {
	color: #484848;
	font-size: 18px;
	padding: 1%;
}

.caption {
	color: #C0C0C0;
	font-size: 12px;
}

/* body */

body {
	background-color: white;
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
}

/* images */

img {
	width: 100%;
	position: relative;
}

/* media query */

@media (max-width: 1200px) {
	.hed-block{
	top: 250px;
}

	.heading h1{
	font-size: 75px;
}

.heading h3{
	font-size: 50px;
}

.byline {
	padding: 2%;
	font-size: 18px;
}

}

@media (max-width: 800px) {
	.hed-block{
	top: 175px;
}

	.heading h1{
	font-size: 45px;
}

.heading h3{
	font-size: 25px;
}

.byline {
	padding: 2%;
	font-size: 13px;
}

}

@media (max-width: 540px) {
	.hed-block{
	top: 150px;
}

	.heading h1{
	font-size: 35px;
}

.heading h3{
	font-size: 16px;
}

.byline {
	padding: 2%;
	font-size: 9px;
}

}