.page-heading {
	font-family: 'Shippori Mincho', serif;
	font-weight: 500px;
	color: black;
	font-size: 68px;
	text-align: center;
}

.subhead {
	font-family: 'Karla', sans-serif;
	font-weight: 400px;
	font-style: italic;
	text-align: center;
	font-size: 36px;
	color: gray;
}

.section-head {
	font-family: 'Shippori Mincho', serif;
	font-weight: 500px;
	color: black;
}

.subsection-head {
	font-family: 'Karla', sans-serif;
	font-weight: 400px;
	color: black;
}

#contact-heading {
	font-family: 'Shippori Mincho', serif;
	font-weight: 500px;
	color: black;
	text-align: center;
}

.navbar-brand {
	font-family: 'Shippori Mincho', serif;
	color: black;
	font-style: bold;
}

.nav-item {
	font-family: 'Karla', sans-serif;
}

p {
	font-family: 'Karla', sans-serif;
	color: black;
	font-size: 16px;
}

.info {
	font-family: 'Karla', sans-serif;
	color: black;
	font-size: 16px;
	line-height: .5;
}

#about {
	font-family: 'Shippori Mincho', serif;
	color: white;
}

#collage {
	width: 710px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-container {
	background-color: #dedede;
	width: 60%;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container {
	width: 80%;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
}

#about-image{
	height: 310px;
	width: 250px;
	float: right;
	padding-left: 20px;
}

.footer-container {
	height: 75%;
	font-family: 'Karla', sans-serif;
	color: black;
	text-align: center;
	background-color: #f8f9fa;
}